.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.img {
  height: 100px;
  width: 100px;
}

#input {
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}
