.name1111 {
  width: 160px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-word;
}

.email1111 {
  width: 150px;
  background: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phonenumber1111 {
  width: 120px;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usertype1111 {
  width: 150px;
  background: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startingdate1111 {
  width: 81px;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endingdate1111 {
  width: 276px;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.eventfeature1111 {
  width: 82px;
  background: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FeatureAcess1111 {
  width: 162px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.payment1111 {
  width: 80px;
  background: chocolate;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventfeature1111 {
  width: 82px;
  background: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endingdate1111 {
  width: 276px;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.startingdate1111 {
  width: 81px;
  background: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}
