.headercontainer11 {
  height: 50px;
  display: flex;
  margin: 1px;
}

.headercontainer1 {
  display: flex;
  border: 1px solid white;
  margin: 1px;
}

.job_id {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.Event_profile {
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.Event_description {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.Category {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.Event_Feature {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}


